{% extends 'store/layout.html' %}
{% load static %}

{% block body %}
	<!-- <section>
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
			<h1 id="companyName">SAN<span class="text-muted">WAL</span></h1>
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="4000">
				<img src="{% static 'store/imgs/mainCrousal/forest.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item" data-bs-interval="4000">
				<img src="{% static 'store/imgs/mainCrousal/lap.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item" data-bs-interval="4000">
				<img src="{% static 'store/imgs/mainCrousal/mall.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	</section> -->
	<article class="products">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for item in object_list %}
			<col>
				<div class="card">
					<a href="{{ item.get_absolute_url }}">
						<div class="row g-1">
							<div class="col-md-12 p-4 pb-0 pt-0">
								{% if item.img.first.image %}
									<div class="swiper itemImageSwiper">
										<div class="swiper-wrapper">
											{% for image in item.img.all %}
												<div class="swiper-slide">
													<img src="{{ image.image.url }}" alt="{{ image.image }}" >
												</div>
											{% endfor %}
										</div>
										<!-- <div class="swiper-button-next">
											<ion-icon name="caret-forward-outline"></ion-icon>
										</div>
										<div class="swiper-button-prev">
											<ion-icon name="caret-back-outline"></ion-icon>
										</div> -->
									</div>
								{% else %}
									<img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top" alt="No Image Available">
								{% endif %}
							</div>
							<div class="card-body text-center col-12 pt-0">
								<h5 class="card-title">{{ item.title | title }} </h5>
								<!-- <p class="card-text">{{ item.description | truncatechars:100 }}</p> -->
								<a href="{{ item.get_absolute_url }}" class="btn">
									{% if item.discount_price %}
									<del style="text-decoration-color: red;">Rs. {{ item.price }}</del> Rs. {{ item.discount_price }}
									{% else %}
									Rs. {{ item.price }}
									{% endif %}
								</a>
							</div>
						</div>
					</a>
				</div>
			</col>
			{% endfor %}
			</col>
		</div>
								<!-- PAGINATION START -->
		{% if is_paginated %}
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% endif %}
					{% for i in page_obj.paginator.get_elided_page_range %}
						{% if page_obj.paginator.ELLIPSIS == forloop.counter %}
							<li class="page-item disabled"><a class="page-link" href="#">{{ forloop.counter }}</a></li>
						{% else %}
							{% if page_obj.number == forloop.counter %}
								<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
								<!-- PAGINATION END -->
	</article>
{% endblock %}