{% extends 'store/layout.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'store/css/grid-swiper.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock %}

{% block body %}
	<div class="container-fluid px-5">
		<div class="swiper categories-grid-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/household.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Household</span>
				</div>
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/jewellery.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Jewellery</span>
				</div>
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/apparel.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Apparel</span>
				</div>
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/footwear.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Footwear</span>
				</div>
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/brands.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Brands</span>
				</div>
				<div class="swiper-slide position-relative">
					<img src="{% static 'store/imgs/categoriesgrid/wallets.webp' %}" alt="Household" width="100%" height="415px">
					<span class="position-absolute fs-1 text-light">Wallets</span>
				</div>
				<div class="swiper-slide">Slide 4</div>
				<div class="swiper-slide">Slide 5</div>
				<div class="swiper-slide">Slide 6</div>
				<div class="swiper-slide">Slide 7</div>
				<div class="swiper-slide">Slide 8</div>
				<div class="swiper-slide">Slide 9</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<article class="products">
		<div class="row row-cols-1 row-cols-md-3 g-4 m-auto justify-content-center">
			{% for item in object_list %}
				<div class="card">
					<div class="row g-1">
						<a href="{{ item.get_absolute_url }}">
							<div class="col-md-12 pb-2">
							{% if item.img.first.image %}
								<div class="swiper itemImageSwiper">
									<div class="swiper-wrapper">
										{% for image in item.img.all %}
											<div class="swiper-slide">
												<img src="{{ image.image.url }}" alt="{{ image.image }}" >
											</div>
										{% endfor %}
									</div>
								</div>
							{% else %}
								<img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top" alt="No Image Available">
							{% endif %}
							</div>
							<div class="card-body text-center col-12 pt-0 position-relative">
								<h6 class="card-title">{{ item.title | title }}</h6>
								{% if item.discount_price %}
									<del style="text-decoration-color: red;">Rs. {{ item.regular_price }}</del> Rs. {{ item.discount_price }}
								{% else %}
									Rs. {{ item.regular_price }}
								{% endif %}
								<a href="{% url 'account:add-to-wishlist' item.slug %}" class="position-absolute start-100" style="transform: translateX(-21px);">
									{% if item in wishlist_listings %}
										<ion-icon name="heart"></ion-icon>
									{% else %}
										<ion-icon name="heart-outline"></ion-icon>
									{% endif %}
								</a>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
			</col>
		</div>
								<!-- PAGINATION START -->
		{% if is_paginated %}
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% endif %}
					{% for i in page_obj.paginator.get_elided_page_range %}
						{% if page_obj.paginator.ELLIPSIS == forloop.counter %}
							<li class="page-item disabled"><a class="page-link" href="#">{{ forloop.counter }}</a></li>
						{% else %}
							{% if page_obj.number == forloop.counter %}
								<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
								<!-- PAGINATION END -->
	</article>
{% endblock %}

{% block script %}
<script src="{% static 'store/js/grid-swipper.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% endblock script %}