{% extends 'store/layout.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'store/css/grid-swiper.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
{% endblock %}

{% block body %}
<div class="container-fluid px-5">
	<div class="swiper categories-grid-swiper">
		<div class="swiper-wrapper">
			<a href="{% url 'store:products-by-category' category_slug='home-decor' %}"
				class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/homedecor.webp' %}" alt="Home Decor" width="100%"
					height="415px">
				<span class="position-absolute fs-1 text-light text-uppercase">Home Decor</span>
			</a>
			<!-- <a href="{% url 'store:products-by-category' category_slug='jewellery' %}"
				class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/jewellery.webp' %}" alt="Jewellery" width="100%"
					height="415px">
				<span class="position-absolute fs-1 text-light">Jewellery</span>
			</a> -->
			<a href="{% url 'store:products-by-category' category_slug='apparel' %}"
				class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/apparel.webp' %}" alt="Apparel" width="100%"
					height="415px">
				<span class="position-absolute fs-1 text-light text-uppercase">Apparel</span>
			</a>
			<a href="{% url 'store:products-by-category' category_slug='footwear' %}"
				class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/footwear.webp' %}" alt="Footwear" width="100%"
					height="415px">
				<span class="position-absolute fs-1 text-light text-uppercase">Footwear</span>
			</a>
			<a href="{% url 'store:products-by-brands' %}" class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/brands.webp' %}" alt="Brands" height="415px">
				<span class="position-absolute fs-1 text-light text-uppercase">Brands</span>
			</a>
			<!-- <a href="{% url 'store:products-by-category' category_slug='wallets' %}"
				class="swiper-slide position-relative">
				<img src="{% static 'store/imgs/categoriesgrid/wallets.webp' %}" alt="Wallets" height="415px">
				<span class="position-absolute fs-1 text-light">Wallets</span>
			</a> -->
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
{% for category in object_list %}
<div class="container-fluid px-4 my-5">
	{% if category.posts.first %}
	<article class="products">
		<h1 class="h2 text-center mb-3 text-uppercase">{{ category.name }}</h1>
		<div class="row row-cols-1 row-cols-md-3 g-4 m-auto justify-content-center">
			{% for item in category.posts.all|slice:":8" %}
			<div class="card">
				<div class="row g-1">
					<a href="{{ item.get_absolute_url }}">
						<div class="col-md-12 pb-2">
							{% if item.img.first.image %}
							<div class="swiper itemImageSwiper">
								<div class="swiper-wrapper">
									{% for image in item.img.all %}
									<div class="swiper-slide">
										<img src="{{ image.image.url }}" alt="{{ image.image }}">
									</div>
									{% endfor %}
								</div>
							</div>
							{% else %}
							<img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top"
								alt="No Image Available">
							{% endif %}
						</div>
						<div class="card-body text-center col-12 pt-0 position-relative">
							<h6 class="card-title">{{ item.title | title }}</h6>
							{% if item.discount_price %}
							<del style="text-decoration-color: red;">Rs. {{ item.regular_price }}</del> Rs.
							{{ item.discount_price }}
							{% else %}
							Rs. {{ item.regular_price }}
							{% endif %}
							<a href="{% url 'account:add-to-wishlist' item.slug %}" class="position-absolute start-100"
								style="transform: translateX(-21px);">
								{% if item in wishlist_listings %}
								<ion-icon name="heart"></ion-icon>
								{% else %}
								<ion-icon name="heart-outline"></ion-icon>
								{% endif %}
							</a>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
			</col>
		</div>
	</article>
	{% endif %}
</div>
{% endfor %}
{% endblock %}

{% block script %}
<script src="{% static 'store/js/grid-swipper.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% endblock script %}