{% extends 'store/layout.html' %}
{% load static %}

{% block title %}{{ object.name | title }}{% endblock %}

{% block body %}
	<article class="product">
		<div class="card mb-3" style="max-width: 70%;">
			<div class="row g-0">
			  <div class="col-md-4">
				{% if object.img.first.image %}
					<div class="swiper itemImageSwiper">
						<div class="swiper-wrapper">
							{% for image in object.img.all %}
								<div class="swiper-slide">
									<img src="{{ image.image.url }}" alt="{{ image.image }}" >
								</div>
							{% endfor %}
						</div>
						<!-- <div class="swiper-button-next">
							<ion-icon name="caret-forward-outline"></ion-icon>
						</div>
						<div class="swiper-button-prev">
							<ion-icon name="caret-back-outline"></ion-icon>
						</div> -->
					</div>
				{% else %}
					<img src="{% static 'store\imgs\products\No_image_available.png' %}" class="card-img-top" alt="...">
				{% endif %}
			  </div>
			  <div class="col-md-8">
				<div class="card-body">
					<h2 class="card-title text-center">{{ object.title | title }} </h2>
					<div class="row card-text">
					<div class="col-lg-7">
						{% if object.discount_price %}
							<del style="text-decoration-color: red;">Rs. {{ object.price }}</del> Rs. {{ object.discount_price }}
						{% else %}
							<strong>Price: </strong>Rs. {{ object.price }}
						{% endif %}
					</div>
					<div class="col">
						<button class="plus-btn btn p-0" type="button"><ion-icon name="add-outline"></ion-icon></button>
						<span class="quantity">1</span>
						<button type="button" class="min-btn btn p-0"><ion-icon name="remove-outline"></ion-icon></button>
						<button class="btn btn-primary btn-sm ms-lg-3" type="button" id="add-to-basket" data-index="{{  product.id }}">Throw to Basket</button>
					</div>
					</div>
					<hr>
					<p class="card-text mt-3"><strong>Description</strong><br>{{ object.description | linebreaksbr }}</p>
					<p class="card-text text-center"><small class="text-muted">Listed {{ object.time_created | timesince }} ago</small></p>
				</div>
			  </div>
			</div>
		  </div>
	</article>

	<script>
		// Quantity Change
		$('.plus-btn').on('click', function (e) {
			$('.quantity').text(parseInt($('.quantity').text()) + 1);
		})
		$('.min-btn').on('click', function (e) {
			let quantity = parseInt($('.quantity').text());
			if(quantity > 1)
			{
				$('.quantity').text(quantity - 1);
			}
		})
		// Add to Basket
		$(document).on('click', '#add-to-basket', function (e) {
			e.preventDefault();
			var csrfToken = "{{ csrf_token }}";
			$.ajax({
				type: "POST",
				url: "{% url 'basket:basket_update' %}",
				data: {
					productId: $('#add-to-basket').data('index'),
					product_qty: parseInt($('.quantity').text()),
					csrfmiddlewaretoken: csrfToken,
					action: 'add'
				},
				success: function (response) {
					$('.quantity').text(1);
					$('.basket-qty').text(response.qty);
				},
				error: function (xhr, errmessage, err) {}
			});
		})
	</script>
{% endblock %}