{% extends 'ecommerce/layout.html' %}
{% load static %}

{% block body %}
	<section>
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
			<h1 id="companyName">Bang <small class="text-muted">Bang</small></h1>
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active" data-bs-interval="4000">
				<img src="{% static 'ecommerce/imgs/mainCrousal/forest.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item" data-bs-interval="4000">
				<img src="{% static 'ecommerce/imgs/mainCrousal/lap.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			  <div class="carousel-item" data-bs-interval="4000">
				<img src="{% static 'ecommerce/imgs/mainCrousal/mall.jpg' %}" class="d-block w-100" alt="...">
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	</section>
	<article class="products">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for item in object_list %}
			<col>
				<div class="card">
					<a href="{{ item.get_absolute_url }}">
						<div class="imageContainer">
							<img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="...">
						</div>
						<div class="card-body text-center">
						  <h5 class="card-title">{{ item.title | title }} </h5>
						  <p class="card-text">{{ item.description | truncatechars:100 }}</p>
						  {% if item.discount_price %}
						  <a href="#" class="btn btn-primary">Rs. {{ item.discount_price }}</a>
						  {% else %}
						  <a href="#" class="btn btn-primary">Rs. {{ item.price }}</a>
						  {% endif %}
						</div>
					</a>
				</div>
			</col>
			{% endfor %}
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer">
							<img src="{% static 'ecommerce\imgs\products\dslr.jpg' %}" class="card-img-top" alt="...">
						</div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\dslr orignal.jpg' %}" class="card-img-top" alt="..."></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\glasses.jpg' %}" class="card-img-top" alt="..."></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\bike.jpg' %}" class="card-img-top" alt="..."></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\dell.jpg' %}" class="card-img-top" alt="..."></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
			<col>
				<div class="card">
					<a href="">
						<div class="imageContainer"><img src="{% static 'ecommerce\imgs\products\No_image_available.png' %}" class="card-img-top" alt="./Images/No_image_available.png"></div>
						<div class="card-body text-center">
						  <h5 class="card-title">Card title</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						  <a href="#" class="btn btn-primary">Add to Cart</a>
						</div>
					</a>
				</div>
			</col>
		</div>
	</article>
{% endblock %}