{% extends 'store/layout.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="d-flex align-items-center py-4 pb-5">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7 mx-auto">
							{% if 'email' in request.get_full_path %}
								<h3 class="mb-4">Password Reset Success</h3>
								<p>Check your email for instructions</p>
							{% endif %}
							{% if 'complete' in request.get_full_path %}
								<h3 class="mb-4">Password Reset Success</h3>
								<a href="{% url 'account:login' %}">Login</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% if request.user.is_authenticated %}
	<script>
		window.location.href = '{% url "account:dashboard" %}';
	</script>
{% endif %}

{% endblock %}