.products .row .card
{
	border-radius: 20px;
	padding: 0;
	background: none;
	width: 18em;
	margin: 15px 15px;
	border: none;
	/* box-shadow: 5px 5px 15px rgb(15, 15, 15), -5px -5px 15px rgb(15, 15, 15); */
}

.products .row .card a
{
	margin: 0;
    color: black;
	text-decoration: none;
}

.products .row .card .btn
{
	background: wheat;
	color: black;
	margin-top: 10px;
}

.products .row .card .btn:hover
{
	background: rgba(245, 222, 179, 0.8);
}

.product .card
{
	background: none;
	border: none;
	margin: auto;
	margin-top: 2%;
}

.product .card .card-body
{
	text-align: justify;
}

.swiper.itemImageSwiper {
	max-height: max-content;
	max-width: max-content;
}

.swiper.itemImageSwiper .swiper-slide {
	margin: auto;
	text-align: center;
}

.swiper.itemImageSwiper .swiper-slide img {
	border-radius: 30px; 
    max-width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.swiper.itemImageSwiper .swiper-slide img::selection {
	background: none;
}

.products .row .card .swiper.itemImageSwiper .swiper-slide img {
    max-height: 330px;
}
