:root
{
	--box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.08),
    -10px -10px 15px rgba(255, 255, 255, 0.05);
}


/* //////////////////////////////////////////	Top Bar Nav	/////////////////////////////////////////// */
/* .navbar:nth-of-type(1) {
	background: rgb(228, 219, 199);
} */

.navbar .container-fluid .nav-item
{
	font-size: larger;
}

.navbar .container-fluid .nav-item.dropdown .dropdown-menu,
.navbar .container-fluid .navbar-nav .nav-item.btn-group .dropdown-menu
{
	background: #141414;
	box-shadow: var(--box-shadow);
}

.navbar .container-fluid .btn
{
	color: black;
	border-radius: 50px;
	border: 1px wheat solid;
}

.navbar .container-fluid .btn:hover, .navbar .container-fluid .btn.active
{
	color: black;
	background: wheat;
	border: 1px wheat solid;
}

footer .nav .nav-item .nav-link
{
	font-weight: 100;
	color: rgba(255, 255, 255, 0.582);
}

.nav-item:hover .nav-link, footer .nav .nav-item .nav-link:hover
{
	color:  wheat;
}

.navbar-nav .nav-item .nav-link.active,
.nav-item .nav-link.active
{
	color: wheat;
}

.navbar-toggler[aria-expanded="true"], .navbar-toggler[aria-expanded="false"]
{
	border: none;
	outline: none;
	display: flex;
	background: none;
	position: relative;
	align-items: center;
	color: transparent;
	padding-inline: 0px;
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler::before
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: relative;
	transform: translateY(-7px);
	transition: 0.3s;
}

.navbar-toggler::after
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: absolute;
	transform: translateY(7px);
	transition: 0.3s;
}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}


.navbar-toggler[aria-expanded="true"] + div + .btn
{
	margin: auto;
}

/* //////////////////////////////////////////	FOOTER	/////////////////////////////////////////// */

                /* Responsive */
@media screen and (max-width: 990px) {
    .navbar
	{
		height: initial;
		/* background: rgb(24, 24, 24); */
		/* box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438); */
	}
}