@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Rubik+Pixels&family=Viga&display=swap');

*
{
    box-sizing: border-box;
}

#body
{
	color: whitesmoke;
	scroll-behavior: smooth;
	background-color: rgb(24, 22, 17);
	/* background-color: #141414; */
	font-family: 'Viga', sans-serif;
	/* font-family: 'Red Hat Text', sans-serif; */
}
/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb
{
	background: wheat;
}

						/* MAIN */
/* main
{
	min-height: 22.1rem;
} */


						/* Login and Register Form */
.auth_form, .checkout{
	color: wheat;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding-top: 20px;
}

.auth_form input, .auth_form input:focus, .auth_form textarea, .auth_form textarea:focus,
.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus, .checkout input[type="submit"], .checkout .custom_select
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	margin: 10px auto;
	margin-bottom: 25px;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	/* width: 100%; */
}

.auth_form input[type="submit"],
.checkout input[type="submit"]
{
	width: 40%;
	color: rgb(136, 133, 133);
	background: wheat;
}

.auth_form input[type="submit"]:hover,
.checkout input[type="submit"]:hover,
.auth_form input[type="submit"].btn-danger:hover
{
	background: inherit;
}

.auth_form input[type="submit"].btn-danger
{
	background: red;
	color: #fff;
}

.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus
{
	margin: auto;
}

.country-select-flag
{
	display: none;
}
                        /* Pagination */
.pagination .page-item a
{
	background: black;
	color: #969696;
	/* border: none; */
}

.pagination .page-item.active a
{
	background: #33343a;
	color: white;
	border: 1px solid white;

}

.pagination .page-item a:hover
{
	background: #969696;
	color: black;
}

.pagination .page-item .page-link span
{
	color: white;
}

.pagination .page-item.disabled .page-link span
{
	color: #969696;
}


.swiper.itemImageSwiper {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* margin-left: -150px;
    margin-top: -150px; */
  }

  .swiper.itemImageSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper.itemImageSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }


  /* ---- Add and Remove Icons ---- */
.plus-btn.btn,  .min-btn.btn
{
	color: #969696;
}
.plus-btn.btn:hover, .min-btn.btn:hover
{
	color: wheat;
	cursor: pointer;
}