@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Rubik+Pixels&family=Viga&display=swap');

*
{
    box-sizing: border-box;
}

#body
{
	color: whitesmoke;
	scroll-behavior: smooth;
	background-color: rgb(24, 22, 17);
	/* background-color: #141414; */
	font-family: 'Viga', sans-serif;
	/* font-family: 'Red Hat Text', sans-serif; */
}
/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb
{
	background: wheat;
}

						/* MAIN */
main
{
	min-height: 22.1rem;
}


						/* Login and Register Form */
.login, .register, .checkout{
	color: wheat;
	display: block;
	align-items: center;
	justify-content: center;
	width: 40%;
	/* height: 83.5vh; */
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
	overflow: auto;
}

.login input, .login input:focus, .login textarea, .login textarea:focus,
.register input, .register input:focus, .register textarea, .register textarea:focus,
.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus, .checkout input[type="submit"], .checkout .custom_select
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	margin: 20px auto;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"],
.register input[type="submit"],
.checkout input[type="submit"]
{
	width: 40%;
	color: rgb(136, 133, 133);
	background: wheat;
	/* background: wheat; */
}

.login input[type="submit"]:hover,
.register input[type="submit"]:hover,
.checkout input[type="submit"]:hover
{
	background: inherit;
}

.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus
{
	margin: auto;
}

.country-select-flag
{
	display: none;
}
                        /* Pagination */
.pagination .page-item a
{
	background: black;
	color: #969696;
	/* border: none; */
}

.pagination .page-item.active a
{
	background: #33343a;
	color: white;
	border: 1px solid white;

}

.pagination .page-item a:hover
{
	background: #969696;
	color: black;
}

.pagination .page-item .page-link span
{
	color: white;
}

.pagination .page-item.disabled .page-link span
{
	color: #969696;
}


.swiper.itemImageSwiper {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; */
    /* margin-left: -150px;
    margin-top: -150px; */
  }

  .swiper.itemImageSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper.itemImageSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
