::-webkit-scrollbar{
    /* background: black; */
    width: 5px;
}

::-webkit-scrollbar-thumb{
    /* background: rgb(100, 16, 168); */
    background: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#body{
    overflow-x: hidden;
    background: #222327;
    color: white;
}
header{
    position: relative;
}

						/* Login and Register Form */
.login, .register, .checkout{
	color: rgb(231, 229, 229);
	display: block;
	align-items: center;
	justify-content: center;
	width: 450px;
	/* height: 83.5vh; */
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	box-sizing: border-box;
	/* padding-bottom: 100px; */
	/* margin-bottom: 5%; */
	overflow: auto;
	/* scroll-padding-bottom: 150px; */
	/* scroll-behavior: smooth; */
}

.login input, .login input:focus, .login textarea, .login textarea:focus,
.register input, .register input:focus, .register textarea, .register textarea:focus,
.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus, .checkout input[type="submit"], .checkout .custom_select
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	margin: 20px auto;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"],
.register input[type="submit"],
.checkout input[type="submit"]
{
	width: 100%;
	color: rgb(136, 133, 133);
	background: rgb(231, 229, 229);
	/* background: wheat; */
}

.login input[type="submit"]:hover,
.register input[type="submit"]:hover,
.checkout input[type="submit"]:hover
{
	background: inherit;
}

.checkout input[type="text"], .checkout input[type="text"]:focus, .checkout textarea, .checkout textarea:focus
{
	margin: auto;
}

.country-select-flag
{
	display: none;
}
                        /* Pagination */
.pagination .page-item a
{
	background: black;
	color: #969696;
	/* border: none; */
}

.pagination .page-item.active a
{
	background: #33343a;
	color: white;
	border: 1px solid white;

}

.pagination .page-item a:hover
{
	background: #969696;
	color: black;
}

.pagination .page-item .page-link span
{
	color: white;
}

.pagination .page-item.disabled .page-link span
{
	color: #969696;
}

footer{
    width: 100%;
    /* position :absolute; */
    /* bottom: 0; */
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding:100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
footer .row{
    width:85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .row .col{
    flex-basis: 25%;
    padding: 10px;

}
footer .row .col:nth-child(2), footer .row .col:nth-child(3){
    flex-basis: 15%;
}
footer .row .col .logo{
    width: 80px;
    margin-bottom: 30px;

}
footer .row .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .row .col .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
footer .row .col ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer .row .col ul li a{
    text-decoration: none;
    color: #fff;
}
.underline{
    width:100px;
    height:5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top:25px;
    left:0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: purple;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 100;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left:-20px;

    }
    100%{
        left:100%;
    }
}
@media (max-width:700px){
    footer{
        bottom: unset;
    }
    footer .col{
        flex-basis: 100%;
        
    
    }
    footer .row .col:nth-child(2), footer .row .col:nth-child(3){
        flex-basis: 100%;
    }
    
}